main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

.item-container {
  background: #cec0c1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
}

.result {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
  grid-column: 1 / span 4;
  background: #9ca70db6;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.034);
    border-radius: 5px;
}

button {
  padding: 10px;
  outline: none;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  background: #cec0c1;
  box-shadow: -20px -20px 60px rgba(0, 0, 0, 0.5),
    20px 20px 60px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #65750b9f;
}

.ac {
  grid-column: 1 / span 2;
  background-color: #00a2ff;
  transition: 0.2s ease-in-out;
}

.equal {
  grid-column: 2 / span 3;
  background-color: #00a2ff;
  transition: 0.2s ease-in-out;
}

.equal:hover,
.ac:hover {
  background-color: #5d60f89d;
}
